@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body {
    background-color: #1e1e2e;
    color: #cdd6f4;
}

#digital-clock {
    width: 35%;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    text-align: center;
}